.dashboard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

/* .sidebar {
    width: 280px;
    height: 100%;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
} */

.header {
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 280px;
    /* Add this line to push the content to the right */
}


.dashboard-main {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 280px - 40px);
    margin: 0 auto;
    /* Add this line to center the content horizontally */
}

.dashboard-main img {
    max-width: 100%;
    height: 74vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.dashboard-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    flex: 1;
}

.dashboard-item:last-child {
    margin-right: 0;
}

.dashboard-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.dashboard-item p {
    font-size: 16px;
    color: #999;
}

.dashboard-main h1 {
    font-size: 36px;
    color: #4D8721;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}